/* css styles */

.dropdown-menu {
  --bs-dropdown-min-width: 3.45rem;
}

.btn {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #545555;
    border-radius: 12px;
}

.btn:hover {
    background-color: #4484dc;
    border-color: #4484dc;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: #4484dc;
}