on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: |
            ${{ runner.os }}-r-

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev

      - name: Install R dependencies
        run: |
          Rscript -e "install.packages('curl', repos = 'https://cloud.r-project.org')"
          Rscript -e "install.packages('httr', repos = 'https://cloud.r-project.org')"
          Rscript -e "install.packages('whoami', repos = 'https://cloud.r-project.org')"
          Rscript -e "install.packages('babelquarto', repos = c('https://ropensci.r-universe.dev', 'https://cloud.r-project.org'))"
          Rscript -e "library(babelquarto)"

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install multibib filter
        run: quarto add pandoc-ext/multibib

      - name: Render website with BabelQuarto
        run: Rscript -e 'babelquarto::render_website()'

      - name: Deploy
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          render: "false"
          path: docs
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}