on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: |
            ${{ runner.os }}-r-

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          extra-repositories: |
            https://ropensci.r-universe.dev

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::shiny
            any::bslib
            any::tidyverse
            any::plotly
            any::curl
            any::whoami
            any::httr
            any::here
            any::DT
            any::readxl
            any::openalexR
            any::viridis
            any::knitr
            any::rmarkdown
            any::downlit
            any::xml2
            remotes::install_github("posit-dev/r-shinylive")
          extra-packages: |
            babelquarto

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render website with BabelQuarto
        run: Rscript -e 'babelquarto::render_website()'

      - name: Deploy
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          render: "false"
          path: docs
          target: gh-pages
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

