on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          extra-repositories: |
            https://ropensci.r-universe.dev

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
      
      - name: Install shinylive assets
        run: |
          Rscript -e "shinylive::assets_download('0.10.6')"
          Rscript -e "shinylive::assets_cleanup()"
        env:
          R_CACHE_HOME: ${{ runner.tempPath }}/Rcache

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render website with BabelQuarto
        run: Rscript -e 'babelquarto::render_website()'
        env:
          R_CACHE_HOME: ${{ runner.tempPath }}/Rcache

      - name: Deploy
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          render: "false"
          path: docs
          target: gh-pages
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

